body {
    background-image: url("background.jpg");
    background-size: cover; /* Memastikan gambar mengisi seluruh latar belakang */
    background-repeat: no-repeat; /* Mencegah pengulangan gambar */
    background-position: center; /* Posisi gambar menjadi di tengah latar belakang */
    font-family: Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    max-width: 90%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.dongeng {
    flex: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

section.dongeng h2 {
   
    margin-top: 0;
    
}

.wrapper-video-img{
    display: flex;
    justify-content: center;
}
img{
display: flex;
height: 200px;
}
iframe {
    
    width: 380px;
    height: 200px;

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 1;
}

